@import "./reset";
@import "./variables/global";
@import "./dark/dark";
@import "./default/default";

body {
    font: var(--font-m);
    font-family: var(--font-family-main);
    font-size: var(--font-m);
}

.app {
    background-color: var(--bg-color);
    color: var(--primary-color);
    height: 100vh;
}

.content-page {
    display: flex;
}

.mainPage {
    display: flex;
    flex-direction: column;
}