.app_dark_theme {
  --bg-color: #2C2C2CFF;
  --bg-color-dark: #161616FF;
  --bg-color-inverted: #EBEBEBFF;
  --bg-color-inverted-secondary: #D1D1D1FF;
  --bg-color-special: rgb(81 15 169);
  --bg-color-special-dark: rgb(61 11 129);
  --bg-color-code: rgb(49 49 49);
  --primary-color: rgb(255 255 255);
  --secondary-color: rgb(223 223 223);
  --gold-color: #F6BE06FF;
  --gold-color-white: #ecd273;
  --font-color-inverted: rgb(14 14 14);
  --box-shadow: 2px 2px 5px 1px #000;
  --bg-shadow: #000;

  //Skeleton
  --bg-skeleton: #7a7a7a;
}