.app_dark_theme {
    --bg-color: rgb(38 38 38);
    --bg-color-dark: rgb(22 22 22);
    --bg-color-inverted: rgb(235 235 235);
    --bg-color-special: rgb(88 9 192);
    --bg-color-special-dark: rgb(77 8 168);
    --bg-color-code: rgb(49, 49, 49);
    --primary-color: rgb(255 255 255);
    --secondary-color: rgb(223 223 223);
    --font-color-inverted: rgb(14 14 14);
    --box-shadow: 2px 2px 5px 1px #000000;
    --bg-shadow: #000000;

    //Skeleton
    --bg-skeleton: #7a7a7a;
}