.page {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.ProfilePage {
  width: 1000px;

  @media (width <= 1400px) {
    width: 620px;
  }

  @media (width <= 1000px) {
    width: 400px;
  }
}

.row {
}

.modalText {
  width: 650px;
}
