.pageWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    height: calc(100vh - var(--navbare-height));
    overflow-y: scroll;

    &::-webkit-scrollbar {
        background: var(--bg-color-dark);
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--bg-color-special-dark);
        border-radius: 3px;
    }
}