.app_brown_theme {
    // --bg-color: #281c16;
    // --bg-color-dark: #3a2d24;
    // --bg-color-inverted: rgb(235 235 235);
    // --bg-color-special: #916d58;
    // --bg-color-special-dark: #705135;
    // --bg-color-code: #4b3a2f;
    // --primary-color: #FBF6F4;
    // --secondary-color: #e0d6d5;
    // --font-color-inverted: rgb(14 14 14);
    // --box-shadow: 2px 2px 5px 1px #2c2c2c;
    // --bg-shadow: #2c2c2c;

    // //Skeleton
    // --bg-skeleton: #776c62;

    --bg-color: #121212;
    --bg-color-dark: #222;
    --bg-color-inverted: rgb(229 229 229);
    --bg-color-special: #701047;
    --bg-color-special-dark: #50092b;
    --bg-color-code: #16060d;
    --primary-color: #FBF6F4;
    --secondary-color: #cfbbc4;
    --font-color-inverted: rgb(18 18 18);
    --box-shadow: 2px 2px 5px 1px #363636;
    --bg-shadow: #363636;

    //Skeleton
    --bg-skeleton: #444;
}