.ProfileHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 45px;

    .titleWrapper {
        flex: 0 1 50%;
        display: flex;
        align-items: center;
    }

    .title {
        margin-right: 30px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .editBtn {
        font-size: var(--font-size-l);
        padding: 5px 25px;

    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 90%;
        height: 2px;
        background-color: (var(--bg-color-special));
    }
}

.wrapperBtn {
    display: flex;
    flex: 0 1 50%;
    justify-content: end;

    .editBtn:last-child {
        margin-left: 25px;
    }
}