.ArticleDetails {
  display: flex;
}

.absoluteBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.backBtn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
}

.avatar {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.title {
  padding: 0 0 1rem;
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  border-radius: 6px;
  padding: 4rem;
  background-color: var(--bg-color-dark);
}

.values {
  margin: 0 0 0 3rem;
}

.valuesItem {
  display: flex;
  align-items: center;
  padding: 4px 0;

  span {
    padding: 0 0 0 15px;
  }
}

.svg {
  height: 30px;
  width: 30px;
}

.editBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}