.app_default_theme {
    --bg-color: rgb(237 237 237);
    --bg-color-dark: rgb(255 255 255);
    --bg-color-inverted: rgb(32 32 32);
    --bg-color-special: rgb(66 66 66);
    --bg-color-special-dark: rgb(32 32 32);
    --primary-color: rgb(14 14 14);
    --secondary-color: rgb(46 46 46);
    --font-color-inverted: rgb(255 255 255);
    --special-color: rgb(231 231 231);
}