.app.default {
    --bg-color: rgb(235, 235, 235);
    --bg-color-dark: rgb(221, 221, 221);
    --bg-color-special: rgb(5, 118, 224);
    --bg-color-special-dark: rgba(5, 118, 224, 0.85);
    --primary-color: rgb(14 14 14);
    --secondary-color: rgb(46 46 46);
    --special-color: rgb(231 231 231);
}