.app.default {
    --bg-color: rgb(243 243 243);
    --bg-color-dark: rgb(224 224 224);
    --bg-color-special: rgb(146 25 3);
    --primary-color: rgb(14 14 14);
    --secondary-color: rgb(46 46 46);
    --special-color: rgb(231 231 231);
}
