.Button {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.clear {
    color: var(--primary-color);
    background: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.dark {
    background-color: var(--bg-color-special);
    color: var(--primary-color);
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    transition: background 0.25s ease;

    &:hover {
        background: var(--bg-color-special-dark);
    }
}

.default {
    background-color: var(--bg-color-special);
    color: var(--special-color);
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    transition: background 0.25s ease;

    &:hover {
        background: var(--bg-color-special-dark);
    }
}

.disabled {
    background-color: var(--bg-color-gray);

    &:hover {
        background-color: var(--bg-color-gray);
    }
}