.Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: var(--font-family-main);
    font-weight: 600;
}

.clear {
    color: var(--primary-color);
    background: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.theme {
    background-color: var(--bg-color-special);
    color: var(--primary-color);
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    transition: background-color 0.25s ease;

    &:hover {
        background-color: var(--bg-color-special-dark);
    }
}

.red {
    background-color: var(--color-red);
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    transition: background-color 0.25s ease;

    &:hover {
        background-color: var(--color-red-dark);
    }
}

.gray {
    background-color: var(--color-gray);
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    transition: background-color 0.25s ease;

    &:hover {
        background-color: var(--color-gray-dark);
    }
}

.opacity {
    background-color: var(--bg-color-special);
    color: var(--special-color);
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    opacity: 0.7;
    transition: background-color 0.25s ease, opacity 0.25s ease;

    &:hover {
        background-color: var(--bg-color-special-dark);
    }
}

.disabled {
    background-color: var(--bg-color-gray);

    &:hover {
        background-color: var(--bg-color-gray);
    }
}