.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: var(--z-index-modal);
}

.open {
    opacity: 1;
    pointer-events: auto;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-overlay);
    backdrop-filter: blur(2px);
}

.wrapper {
    background-color: var(--bg-color-inverted);
    color: var(--font-color-inverted);
    border-radius: 4px;
    padding: 25px;
}