.Modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: var(--z-index-bgcore);
}

.open {
  opacity: 1;
  pointer-events: auto;
}

.wrapper {
  background-color: var(--bg-color-inverted);
  color: var(--font-color-inverted);
  border-radius: 4px;
  padding: 25px;
  z-index: var(--z-index-core);
}
