.articleList {}

.SMALL {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    gap: 30px;

    @media screen and (max-width: 1700px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 1360px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 840px) {
        grid-template-columns: 1fr;
    }
}

.BIG {}